@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
        overflow-x: hidden;
        overflow-y: scroll;
        min-width: 320px;
    }
}

body {
    background-image: url("../images/8083-black-texture.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;

}