.container {
    display: flex;
    width: 100%;
    max-width: 50%;
    min-width: 500px;
    margin: 5rem auto;
    box-shadow: 0px 1px 2px 0px white, 0px -1px 3px 0px coral;
    border-radius: 10px;
    flex-wrap: wrap;
}

.time {
    width: 100%;
    background-color: #333333;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1rem;
    gap: 3rem;
    border: 1px solid coral;
    border-bottom: none;
    height: 170px;
}

.time .current-time {
    text-align: left;
    font-size: 2rem;
    color: lightcoral;

    text-shadow: -1px 0px 5px #030303, 0px 0px 5px lightcoral;
}

.time .time-passed {
    color: coral;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: -1px 0px 5px #030303, 0px 0px 5px coral;
}

.buttons-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
    background: #464646;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid coral;
    border-top: none;
    justify-content: center;
}

.buttons-container .start {
    padding: 5px 20px;
    font-size: 2rem;
    color: green;
    background: transparent;
    text-shadow: -1px 0px 1px #030303, 0px 0px 5px green;
    transition: all ease-in-out 200ms;
    border: 1px solid;
    border-radius: 10px;
    margin: 0.5rem;
}

.buttons-container .start:hover {
    cursor: pointer;
    text-shadow: -1px 0px 1px #000000, 0px 0px 20px rgb(255, 255, 255);
    color: green;
    border: 1px solid white;
}

.buttons-container .start:active {
    transition: all ease-in-out 0ms;
    color: rgb(255, 255, 255);
    background-color: green;
}

.buttons-container .stop {
    padding: 5px 20px;
    font-size: 2rem;
    color: red;
    background: transparent;
    border: 1px solid;
    border-radius: 10px;
    text-shadow: -1px 0px 1px #030303, 0px 0px 5px red;
    transition: all ease-in-out 200ms;
    margin: 0.5rem;
}

.buttons-container .stop:hover {
    cursor: pointer;
    text-shadow: -1px 0px 1px #000000, 0px 0px 20px rgb(255, 255, 255);
    color: red;
    border: 1px solid white;
}

.buttons-container .stop:active {
    transition: all ease-in-out 0ms;
    color: rgb(255, 255, 255);
    background-color: red;
}

.buttons-container .clear {
    padding: 5px 20px;
    font-size: 2rem;
    color: lightblue;
    background: transparent;
    border: 1px solid;
    border-radius: 10px;
    text-shadow: -1px 0px 1px #030303, 0px 0px 5px rgb(71, 71, 71);
    transition: all ease-in-out 200ms;
    margin: 0.5rem;
}

.buttons-container .clear:hover {
    cursor: pointer;
    text-shadow: -1px 0px 1px #000000, 0px 0px 20px rgb(255, 255, 255);
    color: lightblue;
    border: 1px solid white;
}

.buttons-container .clear:active {
    transition: all ease-in-out 0ms;
    color: rgb(255, 255, 255);
    background-color: lightblue;
}

.message-container {
    width: 100%;
}

.message {
    width: 100%;
}

.message p {
    font-size: 2rem;
    width: 100%;
    display: inline-block;
}

.message .message-start {
    color: green;
}

.message .message-stop {
    color: red;
}

.message .message-clear {
    color: lightblue;
}